/* LAYOUT */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: var(--stork);
  margin-left: auto;
  margin-right: auto;
  z-index: var(--understory);
  position: relative;

  h1 {
    text-align: center;
    z-index: var(--emergent);
    position: relative;
    margin-block-end: 0;
    padding-block: 1.5rem;

    a {
      text-decoration: none;
    }
  }
}

main {
  display: grid;
  gap: 1rem;
  margin-inline: auto;
  margin-bottom: var(--section-space);
  max-width: 95vw;
  grid-template-columns: 1rem 1fr 1fr 1rem;

  @media (min-width: 40rem) {
    grid-template-rows: auto 10rem auto; /* guess and check */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr [wide-start] 30rem [content-start] 30rem [content-end] 1fr [wide-end];
    grid-template-columns: 1fr 30rem 30rem 1fr;
    gap: 1rem;
  }

  > h2 {
    grid-row: 1;
    grid-column: 2/4;
    padding-inline: var(--global-padding);

    @media (min-width: 40rem) {
      grid-row: 1;
      grid-column: 3/5;
    }
  }

  .profile-image {
    grid-column: 2;
    grid-row: 2;
    align-self: start;

    @media (min-width: 40rem) {
      grid-row: 1/3;
    }

    img {
      border-radius: var(--global-border-radius);
      box-shadow: var(--troposphere);
    }
  }

  #about {
    grid-row: 3;
    grid-column: 2/4;
    margin-block-start: 3rem;

    @media (min-width: 40rem) {
      grid-row: 2/4;
      grid-column: 3;
    }

    blockquote {
      
      @media (min-width: 40rem) {
        grid-column: 3;
      }
    }
  }

  .main-videos {
    grid-row: 4;
    grid-column: 2/4;
  }

  .main-background {
    grid-row: 2/5;
    grid-column: 1/5;
    z-index: -1;
    border-radius: var(--global-border-radius);
    margin: var(--global-margin);
    margin-bottom: 0;
    border: 2px solid var(--black-metal);
    background: var(--brilliance);

    @media (prefers-color-scheme: dark) {
      border: 2px solid var(--back-out);
      background: var(--black-metal);
    }

    @media (min-width: 40rem) {
      grid-row: 2/5;
      grid-column: 1/5;
    }
  }
}

.results-sub {
  margin-left: var(--global-margin);
}

.header-byline {
  background: var(--kingly-cloud);
  padding: var(--global-padding);
  border-radius: var(--global-border-radius);
}

.header-menu {
  display: grid;
  align-content: center;
  justify-content: end;
  align-self: flex-start;
}

footer {
  max-width: var(--stork);
  margin-inline: auto;
  padding-inline: var(--global-padding);
  margin-bottom: var(--section-space);

  @media (min-width: 40rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    .footer-social {
      grid-column: 2;
      padding: var(--global-padding);
    }
  }
}

.stork {
  max-width: var(--stork);
  margin-inline: auto;
  padding-inline-start: var(--global-padding);
}