/* LINKS */

a {
  color: var(--black-metal);

  @media (prefers-color-scheme: dark) {
    color: var(--brilliance);
  }
}

a:hover {
  text-decoration: line-through;
}

a:hover svg {
  fill: var(--grey);
  transition: var(--global-transition);
}

/* BUTTON */

button {
  position: relative;
  background: var(--kingly-cloud);
  font-size: var(--elbrus);
  padding-inline: var(--global-padding);
  border: 2px solid var(--black-metal);
  border-radius: var(--global-border-radius);
  font-family: var(--header-font);
  transition: var(--global-transition);

  @media (prefers-color-scheme: dark) {
    background: var(--black-metal);
    color: var(--brilliance);
    border-color: var(--black-out);
  }
}

button:hover {
  background: var(--tin-soldier);
  color: var(--industrial-revolution);

  @media (prefers-color-scheme: dark) {
    background: var(--industrial-revolution);
    color: var(--kingly-cloud);
  }
}

.button-styles {
  transition: 0.5s ease;
  z-index: 1;
  position: relative;
  height: 2rem;
  padding: 0;
  overflow: hidden;

  span {
    transition: 0.5s ease;
    position: absolute;
    line-height: 2;
    overflow: hidden;
    font-size: 1rem;
    top: 0;
  }
}

.dont-style-home:hover {
  text-decoration: none;
}