/* TYPOGRAPHY */

body {
  font-family: var(--body-family);
  font-weight: "400";
  font-size: 16px;
  line-height: 1.5;
  background: var(--kingly-cloud);
  margin: 0; /* reset */
}

h1,
h2,
h3 {
  font-family: var(--header-font);
  margin-top: 0; /* reset */
}

h4, h5, h6 {
  font-family: var(--body-family);
  margin-top: 0; /* reset */
}

h1 {
  font-size: var(--everest);
  font-size: clamp(1.5rem, 3vw, 3rem);
}

h2 {
  font-size: var(--aconcagua);
  font-size: clamp(1.25rem, 6vw, 2.5rem);
}

h3 {
  font-size: var(--denali);
  font-size: clamp(1rem, 6vw, 2rem);
}

h4 {
  font-size: var(--kilimanjaro);
  font-size: clamp(1rem, 6vw, 1.5rem);
}

h5 {
  font-size: var(--elbrus);
}

h5 {
  font-size: var(--vinson);
}

small,
.text_small {
  font-size: var(--kosciuszko);
  font-family: var(--body-family);
}

blockquote {
  font-size: 1.563rem;
  font-style: oblique;
  margin: 0; /* reset */
  padding: 0.25rem;
  font-family: var(--body-family);

  @media (min-width: 40rem) {
    padding: 0.75rem;
  }
}

p {
  margin-top: 0; /* reset */
}

.text-center {
  text-align: center;
}