:root {
  /* COLOR */
  /* ? I dont think Im using these colors */
  --dandelion: hsl(50, 87.5%, 62.5%);
  --daishin-yellow: hsl(50, 87.5%, 47.5%);
  --banana-custard: hsl(50, 87.5%, 87.5%);
  --secondary: hsl(215, 37.5%, 75%);

  --snowledge: #009f9c;

  /* NEUTRALS */
  --black-metal: hsl(0, 0%, 2.5%);
  --black-out: hsl(0, 0%, 12.5%);
  --raven-black: hsl(0, 0%, 25%);
  --industrial-revolution: hsl(0, 0%, 37.5%);
  --grey: hsl(0, 0%, 50%);
  --cold-grey: hsl(0, 0%, 62.5%);
  --tin-soldier: hsl(0, 0%, 75%);
  --kingly-cloud: hsl(0, 0%, 87.5%);
  --brilliance: hsl(0, 0%, 97.5%);

  /* SPACING */
  --global-margin: 1rem;
  --global-padding: 1rem;
  --section-space: 3rem;

  /* TYPOGRAPHY */
  --header-font: "Ostrich Sans", sans-serif;
  --body-family: "Raleway", "Open Sans", sans-serif;
  --measure: 40rem;

  --everest: 3rem; /* 48px */
  --aconcagua: 2.5rem; /* 40px */
  --denali: 2rem /* 32px */;
  --kilimanjaro: 1.625rem;  /* 26px */
  --elbrus: 1.25rem; /* 20px */
  --vinson: 1rem; /* 16px */
  --kosciuszko: 0.75rem; /* 12px */

  /* WIDTHS */
  --swan: 20rem;
  --vulture: 30rem;
  --stork: 40rem;
  --condor: 50rem;
  --pelican: 60rem;
  --albatross: 80rem;

    /* LAYERS */
    /* https://en.wikipedia.org/wiki/Forest */
    --root: -1;
    --floor: 0;
    --understory: 1;
    --canopy: 2;
    --emergent: 3;

    /* SHADOWS */
    --mesosphere: 0 5px 12px hsla(0, 0%, 0%, 0.4), 0 18px 32px hsla(0, 0%, 0%, 0.16);
    --stratosphere: 0 2px 3px hsla(0, 0%, 0%, 0.12), 0 3px 6px hsla(0, 0%, 0%, 0.14);
    --troposphere: 0 2px 3px hsla(0, 0%, 0%, 0.12), 0 3px 6px hsla(0, 0%, 0%, 0.14);

  /* ADDITIONAL */
  --global-transition: 0.5s;
  --global-border-radius: 5px;
}

  /* large: 1024px, */
  /* xlarge: 1200px, */
  /* xxlarge: 1440px, */
