/*------------------*/
//  #STYLES
/*------------------*/

@import "variables";

// ! https://material.io/develop/web/supporting/ripple

body {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-weight: "400";
  font-size: 16px;
  line-height: 1.5;
  background: var(--kingly-cloud);
  margin: 0; // reset
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  margin-top: 0; // this might be overkill but bottom margins keep the grid easier to control
}

p {
  margin-top: 0;
}

h1 {
  font-size: 3rem;
  font-size: clamp(1rem, 3vw, 3rem);
  // color: var(--daishin-yellow); // todo: get this right

  .courgette {
    font-family: "Courgette", cursive;
  }

  .h1__remainder {
    // color: var(--raven-black);
    font-weight: 600;
  }
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

blockquote {
  font-size: 1.563rem;
  font-style: oblique;
}

a {
  color: var(--black-metal);
}

a:hover {
  text-decoration: line-through;
}

a:hover svg {
  fill: var(--brilliance);
  transition: $global-transition;
}

button {
  position: relative;
  background: var(--kingly-cloud);
  font-size: 1.25rem;
  padding: var(--global-padding);
  border: 2px solid var(--black-metal);
  border-radius: var(--global-border-radius);
  font-family: var(--header-font);
  transition: $global-transition;
}

button:hover {
  background: var(--tin-soldier);
  color: var(--industrial-revolution);
}

ul {
  list-style: none; // browser reset
  padding-left: 0; // browser reset
}

.screen-reader {
  display: none; // while working on design
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  position: relative;

  h1 {
    text-align: center;
    z-index: 3;
    position: relative;
    background-color: var(--kingly-cloud);
    margin-block-end: 0;
    padding-block: 1.5rem;

    @media (min-width: map-get($breakpoints, medium)) {
      text-align: left;
    }

    a {
      text-decoration: none;
      color: transparent;

      color: var(--black-metal);
      // https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke
      @supports not (-webkit-text-stroke: 2px black) {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--black-metal);
      }
    }
  }
}

main {
  display: grid;
  margin-bottom: var(--section-space);

  @media (min-width: map-get($breakpoints, medium)) {
    grid-template-rows: auto 10rem auto; // guess and check
    grid-template-columns: repeat(2, 1fr);
  }

  > h2 {
    grid-row: 1;
    grid-column: 1;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);

    @media (min-width: map-get($breakpoints, medium)) {
      grid-column: 2;
    }
  }

  .profile-image {
    grid-column: 1;
    grid-row: 2;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    align-self: start;
    border-radius: var(--global-border-radius);

    @media (min-width: map-get($breakpoints, medium)) {
      grid-row: 1/3;
      grid-column: 1;
      align-self: start;
      justify-self: end;
      max-width: 22rem;
    }

    img {
      max-width: 100%; // browser reset
      border-radius: var(--global-border-radius);
    }
  }

  .image-column {
    grid-column: 1;
    grid-row: 4;
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: map-get($breakpoints, medium)) {
      grid-row: 3;
      grid-column: 1;
      align-self: start;
      justify-self: end;
      max-width: 22rem;
    }

    img {
      margin-block-end: 1rem;
      max-width: 100%; // browser reset
      border-radius: var(--global-border-radius);
    }
  }

  .main-content {
    grid-row: 3;
    grid-column: 1;
    margin: var(--global-margin); // this matches the main-background
    padding: var(--global-padding);

    @media (min-width: map-get($breakpoints, medium)) {
      grid-row: 2/4;
      grid-column: 2;
      padding: calc(var(--global-padding) * 2);
      padding-left: 0;
    }

    p {
      max-width: var(--measure);
    }
  }

  .main-background {
    grid-row: 2/4;
    grid-column: 1;
    background: var(--brilliance);
    z-index: -1;
    border-radius: var(--global-border-radius);
    margin: var(--global-margin);
    margin-bottom: 0;
    border: 2px solid var(--black-metal);

    @media (min-width: map-get($breakpoints, medium)) {
      grid-row: 2/4;
      grid-column: 1/3;
    }
  }
}

.results-sub {
  margin-left: var(--global-margin);
}

#menu_small {
  padding: var(--global-padding);
  border-radius: var(--global-border-radius);

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;

    li {
      border: 2px solid var(--black-metal);
      border-radius: var(--global-border-radius);
      margin-bottom: var(--global-margin);
      font-weight: bold;
      background-color: var(--brilliance);
      opacity: 0.9;
      backdrop-filter: blur(1rem);

      a {
        color: var(--black-metal);
        width: 100%;
        padding-top: var(--global-padding);
        padding-bottom: var(--global-padding);
        display: block;
        text-align: center;
      }

      a:hover {
        text-decoration: none;
        background: var(--tin-soldier);
        color: var(--brilliance);
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.header-byline {
  background: var(--kingly-cloud);
  padding: var(--global-padding);
  border-radius: var(--global-border-radius);
}

.header-menu {
  display: grid; // way overkill but get the button in place
  align-content: center;
  justify-content: end;
  align-self: flex-start;
}

#gallery {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-inline: var(--global-padding);
  margin-bottom: var(--section-space);

  .gatsby-image-wrapper {
    flex: 1 1 10rem;
    transition-duration: 2000ms;
    filter: grayscale(100%);
    clip-path: circle(39% at center); // trial and error number
    border: 2px solid var(--brilliance);
  }

  .gatsby-image-wrapper:hover {
    transform: scale(1.2);
    filter: grayscale(0);
    border-radius: var(--global-border-radius);
    clip-path: circle(71% at center); // trial and error number
    z-index: 2;
  }
}

#video-edits {
  margin-bottom: var(--section-space);

  .video-area {
    display: grid;
    // grid-gap: 1rem;
    margin-bottom: var(--section-space);
    max-width: 66rem; // Im not 100 on this yet
    margin: 0 auto;

    @media (min-width: map-get($breakpoints, medium)) {
      grid-template-columns: repeat(2, 1fr);
    }

    > iframe {
      margin: var(--global-margin);
      border-radius: var(--global-border-radius);
      grid-row: 1/3;
      grid-column: 1;
      max-width: calc(100% - 2rem);

      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1/3;
        justify-self: end;
      }
    }

    h4,
    > .video-area-title {
      grid-row: 3;
      grid-column: 1;

      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 1;
        grid-column: 2;
        align-self: end;
      }
    }

    h4 {
      padding-left: var(--global-padding);
      padding-right: var(--global-padding);
      margin-top: calc(var(--global-margin) / 2);
    }

    .video-area-title svg {
      width: 10rem;
      margin-top: calc(var(--global-margin) / 2);
      padding-left: var(--global-padding);
      padding-right: var(--global-padding);
    }

    > p {
      grid-row: 4;
      grid-column: 1;
      padding: var(--global-padding);
      padding-top: 0;

      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 2;
        grid-column: 2;
        max-width: 22rem;
        padding-top: var(--global-padding); // reset from small
      }
    }

    > .video-area-background {
      border-radius: var(--global-border-radius);
      z-index: -1;
      grid-row: 2/5;
      grid-column: 1;
      border: 2px solid var(--black-metal);

      @media (min-width: map-get($breakpoints, medium)) {
        grid-row: 2;
        grid-column: 1/3;
      }
    } // .video-area-background

    > .video-area-spacer {
      grid-row: 2;
      grid-column: 1;
      min-height: 5rem;

      @media (min-width: map-get($breakpoints, medium)) {
        display: none;
      }
    }
  } // .video-area
} // #video-edits

#sponsors {
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);

  > h3 {
    text-align: center;
  }
}

#sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;

  > li {
    margin-bottom: var(--section-space);
    text-align: center;
    font-weight: bold;

    svg {
      width: 10rem;
    }
  }
}

.sponsor-stack {
  display: flex;
  flex-direction: column;

  > svg {
    margin-bottom: var(--global-margin);
  }
}

footer {
  max-width: 44rem;
  margin: 0 auto;
  padding-left: var(--global-padding);
  padding-right: var(--global-padding);
  margin-bottom: var(--section-space);

  @media (min-width: map-get($breakpoints, medium)) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    .footer-social {
      grid-column: 2;
      padding: var(--global-padding);
    }
  }
}

.footer-social ul {
  display: flex;
  svg {
    width: 3rem;
    margin-right: var(--global-margin);
  }
}

footer nav li a {
  border-radius: var(--global-border-radius);
  padding: var(--global-padding);
  border: 2px solid var(--black-metal);
  margin-bottom: var(--global-margin);
  font-weight: bold;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

footer nav li a:hover {
  text-decoration: none;
  background: var(--tin-soldier);
  color: var(--brilliance);
}

.active {
  display: inline;
}

.inactive {
  display: none;
}

.snowledge {
  transition: $global-transition;
}

.snowledge:hover {
  fill: #009f9c; // Im not sure about this I might keep it something thats more in the theme
}

// Animation

button {
  overflow: hidden;
}

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  transform: scale(0); // not really on without the animation
  // transform: scale(2); // testing
  pointer-events: none;
  // do I need an opacity here? might make this clearer to read

  background: var(--black-metal);
}
.ripple.show {
  animation: ripple 0.75s ease-out;
}
@keyframes ripple {
  to {
    transform: scale(2); // double up as its currently zero size
    opacity: 0; // but also dissapper
  }
}

.text-center {
  text-align: center;
}

/*------------------*/
//  #Button
/*------------------*/

.button-styles {
  transition: 0.5s ease;
  z-index: 1;
  position: relative;
  height: 2rem;
  padding: 0;
  overflow: hidden;

  span {
    transition: 0.5s ease;
    position: absolute;
    line-height: 2;
    overflow: hidden;
    font-size: 1rem;
    top: 0;
  }
}

/*------------------*/
//  #ACCORDION
// https://www.w3.org/WAI/ARIA/apg/patterns/accordion/

/*------------------*/

.accordion:focus-within {
  border-color: var(--dandelion);
}

.accordion:focus-within h3 {
  background-color: var(--brilliance);
}

.accordion > * + * {
  border-top: 1px solid var(--grey);
}

.accordion-trigger {
  background: none;
  color: var(--black-out);
  display: block;
  // font-size: 1rem;
  // font-weight: normal;
  margin: 0;
  // padding: 1em 1.5em;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;

  border: none;
  border-block-end: 1px solid var(--black-out);
  border-radius: 0;
  font-size: 1.953rem;
  padding-inline-start: 0;
}

.accordion-trigger:focus,
.accordion-trigger:hover {
  background: var(--banana-custard);
}

.accordion-trigger:focus {
  outline: 4px solid transparent;
}

.accordion > *:first-child .accordion-trigger,
.accordion > *:first-child {
  border-radius: 5px 5px 0 0;
}

.accordion > *:last-child .accordion-trigger,
.accordion > *:last-child {
  border-radius: 0 0 5px 5px;
}

.accordion button {
  border-style: none;
}

.accordion button::-moz-focus-inner {
  border: 0;
}

.accordion-title {
  display: block;
  pointer-events: none;
  border: transparent 2px solid;
  border-radius: 5px;
  padding: 0.25em;
  outline: none;
}

.accordion-trigger:focus .accordion-title {
  border-color: var(--dandelion);
}

.accordion-icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  height: 0.5rem;
  pointer-events: none;
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
  width: 0.5rem;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
  border-color: var(--dandelion);
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
  transform: translateY(-50%) rotate(-135deg);
}

.accordion-panel {
  margin: 0;
  padding: 1em 1.5em;
}

/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.accordion-panel[hidden] {
  display: none;
}

.accordion-panel.true {
  display: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid var(--industrial-revolution);
  border-radius: 0.3em;
  display: block;
  font-size: inherit;
  padding: 0.3em 0.5em;
}
